/* Global Styles for all project */
:root {
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --secondary-contrast: #ffffff;
    --white-color: #ffffff;
    --black-color: #ffffff;
    --primary-font: "", sans-serif;
    --secondary-font: "", sans-serif;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--primary-font);
}

.imgBackground {
    background-image:
        linear-gradient(45deg,
            rgba(32, 32, 32, 0.9),
            rgba(32, 32, 32, 0.9), url(empty));
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonials>figure {
    box-shadow: 1px 1px 4px #212122;
}

.circle {
    display: inline-block;
    margin-left: 55px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sendButton {
    background-color: #d3d3d3;
}

.sendButton:hover {
    background-color: #979797;
}

h1:has(+ h2) {
    color: aqua;
}

.dropdown:focus-within .dropdown-menu {
    /* @apply block; */
    display: block;
}